<p id="notice"><%= notice %></p>

<div class="card cd" style="width: 40rem">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
    </ul>
  </div>
  <div class="card-block">
    <h4 class="card-title"><%= @post.title %></h4>
    <%= image_tag @post.image.thumb, :class => "card-img-top"%>
    <p class="card-text"><%= @post.content %></p>
    <a href="#">Show</a> 
  </div>
  </div>    

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
