<p id="notice"><%= notice %></p>

<div class="card cd " style="width: 40rem; margin: 0 auto;">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
    </ul>
  </div>
  <div class="card-block" >
    <h4 class="card-title"><%= @post.title %></h4>
    <%= image_tag @post.image, :class => "card-img-top"%>
    <p class="card-text"><%= @post.content %></p>
    
    <% if @post.user.id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
  </div>
</div>    

